body {
	margin: 0px;
	padding: 0px;
	overflow: hidden;
}

canvas {
	display: block; /* fix necessary to remove space at bottom of canvas */
	vertical-align: top;
}

#stats {
	position: absolute;
	top: 0;
	left: 0;	
}

#about {
	color: #fff;
	position: absolute;
	bottom: 5px;
	left: 5px;
	font-style: italic;
}

a, a:visited {
	color: #fff;
	text-decoration: none;
}


/* loading animation */

#loading {
	width: 100%;
	height: 100%;
	background: #111;
	position: absolute;
	z-index: 10;
}

.spinner {
	width: 50px;
	height: 30px;
	text-align: center;
	font-size: 10px;
	position: absolute;
	top: 50%;
	left: 50%;
	margin-left: -25px;
	margin-top: -15px;
}

.spinner > div {
	background-color: #fff;
	height: 100%;
	width: 6px;
	display: inline-block;

	-webkit-animation: stretchdelay 1.2s infinite ease-in-out;
	animation: stretchdelay 1.2s infinite ease-in-out;
}

.spinner .rect2 {
	-webkit-animation-delay: -1.1s;
	animation-delay: -1.1s;
}

.spinner .rect3 {
	-webkit-animation-delay: -1.0s;
	animation-delay: -1.0s;
}

.spinner .rect4 {
	-webkit-animation-delay: -0.9s;
	animation-delay: -0.9s;
}

.spinner .rect5 {
	-webkit-animation-delay: -0.8s;
	animation-delay: -0.8s;
}

@-webkit-keyframes stretchdelay {
	0%, 40%, 100% { -webkit-transform: scaleY(0.4) }  
	20% { -webkit-transform: scaleY(1.0) }
}

@keyframes stretchdelay {
	0%, 40%, 100% { 
		transform: scaleY(0.4);
		-webkit-transform: scaleY(0.4);
	}  20% { 
		transform: scaleY(1.0);
		-webkit-transform: scaleY(1.0);
	}
}